/* GENERAL */

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background: black;
	color: white;
	text-align: center;
	position: fixed;
	width: 100%;
	height: 100%;
}

/* HEADER */

.header {
	display: flex;
	flex-direction: column;
	height: 100px;
	position: relative;
	align-items: center;
	font-family: "Quicksand";
	margin-top: 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

	.header div {
		height: 100%;
		flex: 1;
	}

	.header img {
		height: 50%;
		margin-bottom: 10px;
	}

/* MAIN */

.main {
	width: 100%;
	height: 100%;
}

.game {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	position: relative;
}

	.game div {
		flex: 0;
	}

	.game-logo img {
		width: 50%;
		max-width: 200px;
	}

	.links {
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translate(-50%, 0);
	}

		.game-info {
			display: inline-block;
			transition: opacity 0.2s, transform 0.2s;
		}

			.game-info img {
				width: 150px;
			}

		.game-info:hover {
			opacity: 0.8;
			transform: translate(0, -1px);
		}

#roadline {
	background-image: url(images/bg-roadline.jpg);
	background-size: cover;
	background-position: center center;
}

/* FOOTER */